body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav {
  display: flex;
  align-items: center;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

img {
  max-width: 100%;
  width: 20%;
}

.cart-product-info {
  display: flex;
}

.grayscale {
  filter: grayscale(100%);
}

.address-details {
  display: flex;
  max-width: 100%;
  width: 50%;
}

.cart-items {
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* .cart-single-item {
  display:flex;
} */
