/* font-family: 'Bowlby One SC', cursive;
font-family: 'News Cycle', sans-serif;
font-family: 'Yantramanav', sans-serif;
font-family: 'Timmana', sans-serif;
font-family: 'Alegreya Sans SC', sans-serif; */

* {
  box-sizing: border-box;
}

html { font-size: 2vw; }

body {
  font-family: 'Yantramanav', sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

label {
  display: block;
}

form div {
  margin: 1em;
}

img {
  max-width: 100%;
  width: 100%;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  margin: 0 10px 0 0;
  padding: 0;
  list-style: none;
  display: inline-block;
}

.grayscale {
  filter: grayscale(100%);
}

.address-details {
  display: flex;
  max-width: 100%;
  width: 50%;
}

/* Navbar */

#saucesome-wrapper {
  display: flex;
  text-align: center;
  justify-content: center;
}

#saucesome {
  max-width: 100vw;
  text-align: center;
  font-family: 'Bowlby One SC', cursive;
  align-self: center;
  font-size: 5em;
  margin-top: 38px;
}

#saucesome a {
  color: #212322;
  text-shadow: 2px 2px #ff0000;
}


.hot-pepper-img {
  max-width: 8%;
  display: inline-block;
  align-self: center;
  margin: 0px 38px;
}

.black {
  position: relative;
  z-index: 100;
  background-color: #fff;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

nav a {
  transition: all 0.3s ease-in-out;
}

nav a:hover {
  border-bottom : 5px solid #212322;
}

nav .column-1 a, nav .column-2 a {
  margin: 0px 20px;
  font-size: 0.75em;
  font-family: 'News Cycle', sans-serif;;
  text-transform: uppercase;
  color: #212322;
}

hr {
  border-top: 2.5px solid #212322;
}

/* All Products */

.wrapper {
  max-width: 100vw;
}

.flex-container {
  display: flex;
  flex: 1 0 auto;
  align-items: center;
  flex-direction: row;
  flex-wrap : wrap;
  flex-flow: row wrap;
  justify-content: space-around;
}

.flex-container > div {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 30vw;
  text-align: center;
  margin: 10px 0;
  align-self: stretch;
  border: 1px solid #eee;
  box-shadow: 1px 2px #d9d9d9;
  border-radius: 20px;
}

.all-product-desc {
  background-color: #eee;
  padding: 10px 0;
  font-size: 0.7em;
  border-radius: 20px;
}

.all-product-desc a {
  color: #212322;
  transition: all 1.0s ease-in-out;
}

.all-product-desc a:hover {
  font-weight: bold;
  color: #69140e;
}

button, form button {
  color: #fff;
  padding: 10px 10px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  background-color: #b5343a;
  border: 2px solid #69140e;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

button:hover, form button:hover {
  background-color: #69140e;
}

.uppercase-bold {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.3em;
}

#all-products-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px 0;
}

#all-products-flex h1 {
  font-family: 'News Cycle', sans-serif;
  font-size: 2.2rem;
  text-transform: uppercase;
}

.all-products-search {
  border: 1px solid #212322;
}

.add-form .form-control {
  max-width: 50vw;
  font-size: 0.7em;
  line-height: 0;
}

.add-form label {
  font-size: 0.8em;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0px;
}

.fifty-view-width {
  max-width: 50vw;
}

.fifty-view-width button {
  width: 90%;
}
.cart-items {
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* Single Product  */

#single-product {
  display: flex;
  justify-content: space-around;
}

#single-product img {
  max-width: 100vw;
}

/* #single-product-column-2 h3, #single-product-column-2 h2 {
  text-align: right;
} */

/* Cart Preview  */

#cart-products-flex h1 {
  display: flex;
  font-family: 'News Cycle', sans-serif;
  font-size: 2.2rem;
  text-transform: uppercase;
  justify-content: center;
}

.cart-product-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 600;
  background-color: #eee;
  padding: 10px 0;
  font-size: 0.7em;
  border-radius: 20px;
}

.cart-product-quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

.cart-product-price {
  font-weight: 600;
}

.cart-product-info a {
  color: #212322;
  transition: all 1.0s ease-in-out;
}

.cart-product-info a:hover {
  font-weight: bold;
  color: #69140e;
}

/* Cart Summary (Order Details) */

#cart-order-details {
  display: flex;
  font-family: 'News Cycle', sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  justify-content: space-around;
}

.cart-summary-flex {
  display: flex;
  justify-content: space-between;
}

.checkout-button {
  display: flex;
  font-family: 'News Cycle', sans-serif;
  font-size: 1rem;
  border-radius: 20px;
  text-transform: uppercase;
  justify-content: space-around;
}

/* Checkout */

.address-details, .checkout-address-details {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
